MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<db>?retryWrites=true&w=majority
USERS_PORT=3001
COSTS_PORT=3002
LOGS_PORT=3003
ABOUT_PORT=3004
TEAM_MEMBERS_JSON=[{"first_name":"lidor","last_name":"elmakaies"},{"first_name":"Amit","last_name":"Leiba"}]
